body {
    color: $success;
}
h2 {
    color: #676665;
}
.bg-color-fourth {
    background-color: $color-fourth;
}
h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
    @include pad {
        font-size: 44px;
        line-height: 56px;
    }
    @include mobile {
        font-size: 32px;
        line-height: 40px;
    }
}
h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    @include pad {
        font-size: 40px;
        line-height: 52px;
    }
    @include mobile {
        font-size: 28px;
        line-height: 36px;
    }
}
h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    @include pad {
        font-size: 32px;
        line-height: 40px;
    }
    @include mobile {
        font-size: 24px;
        line-height: 32px;
    }
}
h4 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    @include pad {
        font-size: 24px;
        line-height: 32px;
    }
    // @include mobile {
    //     font-weight: 700;
    //     font-size: 16px;
    //     line-height: 20px;
    // }
}
h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    @include pad {
        font-size: 20px;
        line-height: 28px;
    }
    @include mobile {
        font-size: 16px;
        line-height: 20px;
    }
}
h6 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    @include pad {
        font-size: 18px;
        line-height: 24px;
    }
    @include mobile {
        font-size: 16px;
        line-height: 20px;
    }
}
.h6 {
    font-size: 20px;
    line-height: 28px;
    @include pad {
        font-size: 18px;
        line-height: 24px;
    }
    @include mobile {
        font-size: 16px;
        line-height: 20px;
    }
}
header {
    position: sticky;
    top: 0;
    z-index: 9;
}
footer {
    z-index: 1;
    // 漢堡選單無法覆蓋在footer上，所以改父層的z-index，將header的z-index設定大於footer
}
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.z-index-3 {
    z-index: 3;
}
.pb-80 {
    padding-bottom: 80px;
}
.pb-140 {
    padding-bottom: 140px;
    @include pad {
        padding-bottom: 100px;
    }
    @include mobile {
        padding-bottom: 120px;
    }
}
.w-50-sm {
    @include mobile {
        width: 40%;
    }
}

.bold {
    font-weight: 700;
}