body {
    color: $success;
}
h2 {
    color: #676665;
}
.w-100-md {
    @include pad {
        width: 100%;
        border: 1px solid $ham-menu-border-primary;
    }
}
.w-100px {
    font-size: 24px;
    font-weight: 700;
    padding: 4px 16px;
}
.stron {
    height: 80px;
    background-color: $footer-icon-primary;
    -webkit-mask: url("../../../assets/images/stron-logo.png") no-repeat center center;
    mask: url("../../../assets/images/smartphone.png") no-repeat center center;
    -webkit-mask-size: contain;
    mask-size: contain;
}
.img-contact {
    width: 36px; 
    height: 36px;
    @include mobile {
        width: 24px; 
        height: 24px;
    }
}
.img-contact-phone {
    background-color: $footer-icon-primary;
    -webkit-mask: url("../../../assets/images/smartphone.png") no-repeat center center;
    mask: url("../../../assets/images/smartphone.png") no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.img-contact-mail {
    background-color: $footer-icon-primary;
    -webkit-mask: url("../../../assets/images/mail.png") no-repeat center center;
    mask: url("../../../assets/images/mail.png") no-repeat center center;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
header {
    position: sticky;
    top: 0;
    z-index: 2;
}
footer {
    z-index: 1;
    // 漢堡選單無法覆蓋在footer上，所以改父層的z-index，將header的z-index設定大於footer
}
.btn {
    font-size: 24px;
    font-weight: 700;
}
.pt-80 {
    padding-top: 80px;
}
.pb-120 {
    padding-bottom: 120px;
}