.nav-contact-item {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border: 1px solid #DEE2E6;
    a:hover {
        // color: $nav-menu-text-primary--hover;
    }
}
.page-contact {
    .map {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        @include mobile {
            width: 80%;
            margin: 0 auto;
        }
    }
    .map-iframe {
        width: 100%;
        margin: 0 auto;
        height: 300px;
    }
    .contact {
        width: 70%;
        margin: 0 auto;
    }
    .list-contact {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 10px auto;
        @include mobile {
            width: 100%;
            margin: 10px auto;
            flex-direction: column;
            align-items: center;
        }
    
    }
    @media screen and (max-width: $mobile-width) {
        .list-contact :nth-child(1) {
          order: 1;
        }
        .list-contact :nth-child(2) {
          order: 2;
        }
        .list-contact :nth-child(3) {
          order: 4;
        }
        .list-contact :nth-child(4) {
          order: 3;
        }
    }
}
.page-messageBoard {
    form {
        width: 440px;
        margin: 0 auto;
        font-weight: 600;
        @include mobile {
            width: 350px;
        }
    }
    h3 {
        text-align: center;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    .messageBoard-item {
        display: flex;
        align-items: center;
        width: 130%;
        margin: 0 auto;
        padding: 10px 0;
    }
    .messageBoard-item-input {
        padding: 5px 0;
        width: 60%;
        @include mobile {
            width: 80%;
        }
    }
    .messageBoard-child{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    .messageBoard-child-input {
        padding: 5px 0;
    }
    .label {
        width: 48px;
    }
    .messageBoard-opinion {
        display: flex;
        flex-direction: column;
        width: 130%;
        margin: 0 auto;
        padding: 10px 0;
        gap: 10px;
    }
}
