.pill {
    width: 140px;
    padding: 4px 16px;
    @include mobile {
        width: 100px;
        padding: 4px 12px;
        margin-top: 36px;
    }
}
section .pill {
    cursor: auto;
}
.arc {
    position: relative;
    width: 100%;
    background-color: #fff;
}
.arc:after {
  position: absolute;
  left: 0;
  right: 0;
//   bottom: -100px;
  z-index: 2;
  content: ' ';
  height: 120px;
  width: 100%;
  border-radius: 0 0 50% 50%;
  background-color: #fff;
  @include pad {
      height: 80px;
  }
  @include mobile {
    height: 90px;
    bottom: -50px;
    border-radius: 0 0 50% 50%;
    
  }
}
.pt-80 {
    padding-top: 80px;
    @include pad {
        padding-top: 60px;
    }
    @include mobile {
        padding-top: 40px;
    }
}
.pt-240 {
    padding-top: 240px;
    @include pad {
        padding-top: 160px;
    }
    @include mobile {
        padding-top: 80px;
    }
}
.pb-140 {
    padding-bottom: 140px;
    @include pad {
        padding-bottom: 100px;
    }
    @include mobile {
        padding-bottom: 120px;
    }
}
.btn-about {
    width: 224px;
    height: 60px;
    border-radius: 10px;
    margin-top: 70px;
    @include pad {
        width: 180px;
        height: 50px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    @include mobile {
        height: 40px;
        width: 168px;
        margin-top: 0px;
        position: absolute;
        left: 34%;
        bottom: -1200%;
    }
}
.w-76 {
    width: 76px;
    height: 76px;
    @include mobile {
        width: 40px;
        height: 40px;
    }
}
.w-45 {
    width: 45%;
}
.w-316 {
    width: 316px;
    @include pad {
        width: 252px;
    }
}
.py-34 {
    padding-top: 34px;
    padding-bottom: 34px;
    @include pad {
        padding-top: 28px;
        padding-bottom: 28px;
    }
    @include mobile {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}
.circle-group1 {
    position: absolute;
    z-index: 1;
    right: 5%;
    bottom: -50%;
    @include pad {
        bottom: -70%;
    }
    @include mobile {
        bottom: -40%;
    }
}
.circle-2 {
    padding-bottom: 80px;
}
.circle-3 {
    position: absolute;
    top: -30px;
    right: 5%;
    z-index: 1;
}
.circle-group2 {
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 1;
    @include pad {
        top: 12%;
        left: -20%;
    }
    @include mobile {
        top: 50%;
        left: -5%;
    }
}
.circle-4 {
    position: relative;
    z-index: 1;
}
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.z-index-3 {
    z-index: 3;
}
.z-index-4 {
    z-index: 4;
}
.pr-84 {
    padding-right: 84px;
    @include mobile {
        padding-right: 0px;
    }
}
.gap-28 {
    gap: 28px 0px;
}