.nav-member-item {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border: 1px solid #DEE2E6;
    a:hover {
        // color: $nav-menu-text-primary--hover;
    }
}

.member {
    width: 440px;
    margin: 0 auto;
    font-size: 1.2rem;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    padding: 40px;
    @include mobile {
        max-width: 350px;
        margin: 0 auto;
        padding: 40px 20px;
    }
    li {
        padding: 10px 0;
    }
    .member-input {
        width: 100%;
        margin: 10px auto;
        padding: 10px;
    }
    p {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .btn-form {
        color: #fff;
        padding: 10px;
    }
}

.page-login {
    .code {
        border-bottom: 1px solid #DEE2E6;
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-end;
        padding: 20px 10px;
    }    
}

.page-register {
    p{
        padding: 10px;
    }
}

.page-changePassword {
    p{
        padding: 10px;
    }
}

.member-getPassword{
    p{
        padding: 10px;
    }
    .fxd-row-jcfs {
        display: flex;
        justify-content: flex-start;
    }
}