.nav-product-item {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border: 1px solid #DEE2E6;
    a:hover {
        // color: $nav-menu-text-primary--hover;
    }
}
.list-product {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // padding: 20px;
    // @include mobile {
    //     padding: 30px;
    // }
}
.page-robot {
    ul {
        flex-wrap: wrap;
    }
    img {
        width: 80%;
        @include  mobile{
            width: 60%;
        }
    }

}
.page-camera {
    .ingo {
        display: flex;
        flex-direction: column;
        height: 250px;
        @include mobile {
            flex-direction: row;
            align-items: center;
            height: 200px;
            gap: 10px;
        }
    }
    img {
        height: 100px;
        @include mobile {
            height: 80px;
        }
    }
}
.page-servo-motor {
    .ingo {
        @include mobile {
            width: 250px;
            margin: 0 auto;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        @include mobile {
            padding: 0 50px;
        }
    }
    li {
        width: 200px;
        @include pad {
            width: 30%;
            margin: 0 auto;
        }
        @include mobile {
            width: 40%;
            margin: 0 auto;
        }
    }
}
.page-plc {
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        gap: 10px 0;
        @include mobile {
            flex-direction: column;
        }
    }
    li {
        width: 40%;
        margin: 0 auto;
        @include mobile {
            width: 60%;
            margin: 0 auto;
            text-align: center;
        }
    }
}