// 以bootstrap5的xxl和iPad以下(767px)為斷點
$desktop-width: 1320px;
$pad-width: 992px;
$mobile-width: 767px;
// 容器
$container-lg: 960px;
$container-md: 720px;
$container-sm: 540px;
// header
$nav-menu-text-primary: #000;
$nav-menu-text-primary--hover: grey;
$ham-icon-bar-primary: gray;
$ham-icon-bg-primary: #fff;
$ham-menu-border-primary: #fff;
$ham-menu-bg-primary: #fff;
// footer
$footer-bg-primary: #c3cfd9;
$footer-text-primary: #000;
$footer-text-primary--hover: gray;
// pages
$pages-link-primary: #000;
$pages-link-primary--hover: gray;
$section-bg-primary: #dfe6ed;
$section-bg-secondary: #fbe192;
